<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-0</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-0-preview-152</string>
					<string>AppIcon-0-preview-120</string>
					<string>AppIcon-0-preview</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-1-preview-152</string>
					<string>AppIcon-1-preview-120</string>
					<string>AppIcon-1-preview</string>
				</array>
			</dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-2-preview-120</string>
					<string>AppIcon-2-preview-152</string>
					<string>AppIcon-2-preview</string>
				</array>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-3-preview-152</string>
					<string>AppIcon-3-preview-120</string>
					<string>AppIcon-3-preview</string>
				</array>
			</dict>
			<key>AppIcon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-4-preview-152</string>
					<string>AppIcon-4-preview-120</string>
					<string>AppIcon-4-preview</string>
				</array>
			</dict>
			<key>AppIcon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-5-preview-152</string>
					<string>AppIcon-5-preview-120</string>
					<string>AppIcon-5-preview</string>
				</array>
			</dict>
			<key>AppIcon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-6-preview-152</string>
					<string>AppIcon-6-preview-120</string>
					<string>AppIcon-6-preview</string>
				</array>
			</dict>
			<key>AppIcon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-7-preview-152</string>
					<string>AppIcon-7-preview-120</string>
					<string>AppIcon-7-preview</string>
				</array>
			</dict>
            <key>AppIcon-8</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-8-preview-152</string>
                    <string>AppIcon-8-preview-120</string>
                    <string>AppIcon-8-preview</string>
                </array>
            </dict>
		</dict>
	</dict>
	<key>INIntentsRestrictedWhileLocked</key>
	<array>
		<string>CustomizableWidgetConfigIntent</string>
		<string>ForecastWidgetConfigIntent</string>
		<string>LockScreenWidgetConfigIntent</string>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>CustomizableWidgetConfigIntent</string>
		<string>ForecastWidgetConfigIntent</string>
		<string>LockScreenWidgetConfigIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CustomizableWidgetConfigIntent</string>
		<string>ForecastWidgetConfigIntent</string>
		<string>LockScreenWidgetConfigIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>HeyWeather uygulaması, en doğru hava durumu ayrıntılarını almak için konumunuzu kullanır.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>HeyWeather uygulaması, en doğru hava durumu ayrıntılarını almak için konumunuzu kullanır.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fotoğraflarınızdan widget arka plan resmi seçmek için bu izne izin vermeniz gerekir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotoğraflarınızdan widget arka plan resmi seçmek için bu izne izin vermeniz gerekir.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>ymail</string>
	</array>
</dict>
</plist>
